{
   "extends": "standard",
   "env": {
      "browser": true
   },
   "globals": {
      "fetch": true
   },
   "rules": {
      "arrow-body-style": "off",
      "comma-dangle": 0,
      "semi": 0
   }
}
